<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Vue 练习册-04.样式绑定</title>
<style type="text/css">
    .list{list-style:none;padding:12px;margin:0;}
    .list>li{list-style:none;padding:0;margin-bottom:6px;line-height:24px;font-size:14px;}
</style>
</head>
<body>
需要展示的功能是显示现有列表信息，添加信息，删除信息
<div id="list">
    <ul class="list">
        <li
            is="add-item"
            v-for="(item, index) in items"
            v-bind:title="item"
            v-on:removeitem="items.splice(index,1)"></li>
    </ul>
    <div>
        <input type="text" v-model="newItem" v-on:keyup.enter="addNewItem" placeholder="添加新项目" />
    </div>
</div>
<script type="text/javascript" src="./dist/vue.js"></script>
<script type="text/javascript">
Vue.component('add-item',{
    template: '<li>{{ title }} <a href="javascript:;" v-on:click="$emit(\'removeitem\')">删除</a></li>',
    props: ['title']
});
var listItem = new Vue({
    el: '#list',
    data: {
        newItem: '',
        items: [
            '唐 僧',
            '孙悟空',
            '猪悟能',
            '沙悟净'
        ],
        arr: [
            '唐 僧',
            '孙悟空',
            '猪悟能',
            '沙悟净'
        ]
    },
    methods: {
        addNewItem: function(){// 添加信息函数
            // 将新的数据添加到消息列表中
            this.items.push(this.newItem);
            // 完成添加后将原内容置空
            this.newItem = '';
        }
    }
});
</script>
</body>
</html>