<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vue 练习册</title>
        <style type="text/css">
            div{margin-bottom:12px;}
            p{margin-top:0;margin-bottom:0;}
            .list{margin-left:-6px;margin-right:-6px;}
            .list>span{display:inline-block;padding:0 6px;}
        </style>
    </head>
    <body>
<div id="vue">
    <p>{{info}}</p>
</div>
<div id="app2">
    <span v-bind:title="message">查看数据绑定</span>
</div>
<div id="app3">
    <p v-if="seen1">这条是可以看见的</p>
    <p v-if="seen2">这条是不可以看见的</p>
</div>
<div id="app4" class="list">
    <span v-for="people in peoples">{{people}}</span>
</div>
<div id="app5" class="list">
    <span v-for="people in peoples">{{people['name']}}</span>
    <span v-for="people in peoples">{{people.name}}</span>
</div>
<div id="app6">
    <p>{{message}}</p>
    <button v-on:click="reverMes">反转</button>
</div>
<div id="app7">
    <p>{{message}}</p>
    <p><input type="text" v-model="message" placeholder="输入绑定内容" /></p>
</div>
<div id="app8">
    <p>应用模板输出 10 次 I like vue.js</p>
    <p class="list">
        <yih-item v-for="i in 10"></yih-item>
    </p>
</div>
<div id="app9">
    <p>虽为全局模式，测试证明在构建模板前实例化的对象都不能使用模板组件</p>
    <p class="list">
        <yih-item></yih-item>
    </p>
</div>
<div id="app10">
    <p class="list">
        <yit-item v-for="people in peoples" v-bind:yit="people"></yit-item>
    </p>
</div>
<div id="app11">
    <p>
        输入的内容是：<yis-item v-bind:message='mesag'></yis-item>
    </p>
    <p>
        <input type="text" v-model="mesag" placeholder="输入内容" />
    </p>
</div>
<script type="text/javascript" src="./dist/vue.js"></script>
<script type="text/javascript">
//  数据绑定
    var app = new Vue({
        el:"#vue",
        data:{
            info : "Hello Charles!"
        }
    });
// 指令
    var app2 = new Vue({
        el: '#app2',
        data:{
            message: 'data bind'
        }
    });
// 条件判断
    var app3 = new Vue({
        el: '#app3',
        data:{
            seen1: true,
            seen2: false
        }
    });
// 循环
    var app4 = new Vue({
        el: '#app4',
        data: {
            peoples:{
                name: 'Charles Yih',
                age: '26',
                six: '男',
                weight: '88kg'
            }
        }
    });
    var app5 = new Vue({
        el: '#app5',
        data:{
            peoples:[
                {name:'join'},
                {name:'liy'},
                {name:'charles'},
                {name:'choo'}
            ]
        }
    });

// 消息处理
    var app6 = new Vue({
        el: '#app6',
        data:{
            message: '0123456789'
        },
        methods:{
            reverMes: function(){
                this.message = this.message.split('').reverse().join('')
            }
        }
    });
// 表单与数据绑定
    var app7 = new Vue({
        el: '#app7',
        data:{
            message: 'Hello world!'
        }
    });
// 构建全局模式下的模板，模板名需注意不能出现大写
    Vue.component('yih-item',{
        template: '<span>I like vue.js</span>'
    });
    var app8 = new Vue({
        el: '#app8'
    });
// 实例化
    var app9 = new Vue({
        el: '#app9'
    });
// 尝试为组件增加一个自定义属性
    Vue.component('yit-item',{
        props: ['yit'], // => 注意点
        template: '<span>{{yit.name}}</span>'
    });
    var app10 = new Vue({
        el: '#app10',
        data:{
            peoples:[
                {name:'join'},
                {name:'liy'},
                {name:'charles'},
                {name:'choo'}
            ]
        }
    });
// 自定义模板组件数据绑定
    Vue.component('yis-item',{
        props:['message'],
        template: '<span>{{message}}</span>'
    });
    var app11 = new Vue({
        el: '#app11',
        data: {
            mesag: 'I like vue.js'
        }
    });

</script>
    </body>
</html>