<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vue 练习册-03.模板语法</title>
        <style type="text/css">
            .list{margin:0 -6px;}
            .list>span{display:inline-block;padding:0 6px;}
            .font-red{color:#F00;}
            .font-back{color:#000;}
            .font-green{color:#0F0;}
        </style>
    </head>
    <body>

<div id="app">
    <p class="list">
        <span>This is {{msg}}</span>
    </p>
</div>

<div id="app1">
    <p class="list" v-html="spanHtml"></p>
</div>

<div id="app2">
    <p class="list">
        <span v-bind:class='fontClass'>{{msg}}</span>
    </p>
</div>

<!-- 在 v-model 中出现的属性需要在实例化对象中定义，否则提示找不到-->
<div id="app3">
    <p class="list">
        <span><input type="checkbox" v-model="checkRes" />同意条约</span>
        <span><input type="button" v-bind:disabled="succedTreaty" value="提交" /></span>
    </p>
</div>

<div id="app4">
    <p class="list">
        <span><input type="checkbox" v-model="ok" />同意条约</span>
        <span>{{ok? '您已同意该条约':'不再考虑一下吗？'}}</span>
    </p>
</div>

<div id="app5">
    <p class="list">
        <span><input type="checkbox" v-model="yes" />同意条约</span>
        <span v-if="yes" class="font-green">这个选择是极好的</span>
        <span v-else class="font-red">不再考虑一下吗？</span>
    </p>
</div>

<div id="app6">
    <p class="list">
        <span><a v-bind:href="url">{{msg}}</a></span>
        <span><button v-on:click="changeUrl">改变链接</button></span>
    </p>
</div>

<div id="app7">
    <p class="list">
        <span><a :href="url">{{msg}}</a></span>
        <span><button @click="changeUrl">改变链接</button></span>
    </p>
</div>

<p>遗留问题，如何使链接能够自由切换</p>
<script type="text/javascript" src="./dist/vue.js"></script>
<script type="text/javascript">
// 文本
var vm = new Vue({
    el: '#app',
    data: {
        msg: 'handbag'
    }
});

// HTML
var vm1 = new Vue({
    el: '#app1',
    data:{
        spanHtml: '<span>这是组SPAN标签</span>'
    }
});

// 属性 bind 指令
var vm2 = new Vue({
    el: '#app2',
    data: {
        msg: '一段测试文本',
        fontClass: 'font-green'
    }
});

// 属性
var vm3 = new Vue({
    el: '#app3',
    data: {
        checkRes: false
    },
    computed:{
        succedTreaty: function(){
            return !this.checkRes;
        }
    },
    created:function(){
        console.info(this.checkRes);
    }
});

//  使用 javascript 表达式
var vm4 = new Vue({
    el: '#app4',
    data: {
        ok: false
    }
});

// 指令
var vm5 = new Vue({
    el: '#app5',
    data:{
        yes: false
    }
});

// 参数
var vm6 = new Vue({
    el: '#app6',
    data: {
        msg: '百度',
        url: 'https://www.baidu.com/'
    },
    methods: {
        changeUrl: function(){
            this.msg = '网易';
            this.url = 'http://www.163.com/';
        }
    }
});

// 语法缩写
var vm7 = new Vue({
    el: '#app7',
    data: {
        msg: '百度',
        url: 'https://www.baidu.com/'
    },
    methods: {
        changeUrl: function(){
            this.msg = '网易';
            this.url = 'http://www.163.com/';
            return true;
        }
    }
});










</script>
</body>
</html>